/* BODYSNATCHERS CSS - DESIGNED BY HARRISON MAX-WILSON */
/******* FONT *******/
@font-face {
    font-family: 'pt_sansbold';
    src: url('../fonts/PTSans/ptsans-bold-webfont.woff2') format('woff2'),
         url('../fonts/PTSans/ptsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sansbold_italic';
    src: url('../fonts/PTSans/ptsans-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/PTSans/ptsans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sansregular';
    src: url('../fonts/PTSans/ptsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/PTSans/ptsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/******* ALL *******/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    border: 0;
}


/******* HEADER *******/
header {
    font-family: 'pt_sansbold';
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    padding: 10px 0px 50px 0px;
    background-color: #282b2f;
}

/******* BODY *******/
body {
    
    font-family: 'pt_sansregular';
    background-color: #000;
}


/******* FOOTER *******/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #282b2f;
    padding: 12px 0px 5px 0px;
    clip-path: polygon(100% 100%, 100% 0, 0 25%, 0 100%);
}
footer img {
    max-width: 100%;
}

footer ul {
    padding: 5px;
    list-style: none;
}

footer ul li {
    display: inline-block;
    margin: 0px 2px;
}

footer ul li a {
    width: 20px;
    height: 20px;
    display: inline-block;
    transition: all 0.5s;
    filter: grayscale(100%);
}

footer ul li a:hover {
    filter: grayscale(0%);
}

footer a p {
    font-size: 12px;
    color: #fff;
    margin-top: 10px;
    letter-spacing: 0.5px;
}

footer a,
footer p {
    color: #fff;
    font-size: 12px;
}



/******* MOBILE CSS *******/
@media only screen and (max-width: 600px) {
    .navigation-container {
        width: 65%; 
    }
}



/******* Burger Menu CSS *******/
.topnav {
    height: 80px;
    background-color: #282b2f;
  }

  .topnav img {
    top: 5px;
    left: 5px;
    width: 80px;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    color: #fff;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #282b2f;
    color: #282b2f;
  }
  
  .active {
    background-color: #282b2f;
    color: #fff;
  }
